body {
    margin: 10px 50px;
    background-color: #6096B4;
    color: #FFF;
}


.Srinivasa {
    width: 300px;
}

h1 {
    color: #F2921D;
}

.heading1 {
    color: #CD0404;
}

span {
    color: #F2921D;
}
